docker.enabled = true

workflow.output.mode = 'copy'
outputDir = "results_gatk"

profiles {
    test {
        process {
            withName: "BWA_MEM_AND_MERGE_ALIGNMENT" {
                memory = 6.GB
                cpus = 6
            }
            withName: "BASE_RECALIBRATOR" {
                memory = 3000.MB
            }
            withName: "APPLY_BQSR" {
                memory = 2000.MB
            }
            withName: "HAPLOTYPE_CALLER" {
                memory = 4000.MB
            }
        }
        params {
            sample_name = "NA12878"
            unmapped_bams = [
                "../../data/NA12878_A.bam",
                "../../data/NA12878_B.bam",
                "../../data/NA12878_C.bam"
            ]
            use_bwa_mem = true
            perform_bqsr = false
            run_dragen_mode_variant_calling = false
            use_spanning_event_genotyping = true
            make_gvcf = false
            make_bamout = true
            skip_reblocking = false
            use_dragen_hard_filtering = false
            haplotype_scatter_count = 5
            break_bands_at_multiples_of = 0
            ref_fasta = "../../data/Homo_sapiens_assembly38.fasta"
            ref_fasta_index = "../../data/Homo_sapiens_assembly38.fasta.fai"
            ref_dict = "../../data/Homo_sapiens_assembly38.dict"
            ref_alt = "../../data/Homo_sapiens_assembly38.fasta.64.alt"
            ref_amb = "../../data/Homo_sapiens_assembly38.fasta.64.amb"
            ref_ann = "../../data/Homo_sapiens_assembly38.fasta.64.ann"
            ref_bwt = "../../data/Homo_sapiens_assembly38.fasta.64.bwt"
            ref_pac = "../../data/Homo_sapiens_assembly38.fasta.64.pac"
            ref_sa = "../../data/Homo_sapiens_assembly38.fasta.64.sa"
            ref_str = "../../data/Homo_sapiens_assembly38.str"
            reference_bin = "../../data/reference.bin"
            hash_table_cfg_bin = "../../data/hash_table.cfg.bin"
            hash_table_cmp = "../../data/hash_table.cmp"
            dbsnp_vcf = "../../data/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
            dbsnp_vcf_index = "../../data/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi"
            known_indels_sites_vcfs = [
                "../../data/Homo_sapiens_assembly38.known_indels.vcf.gz",
                "../../data/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
            ]
            known_indels_sites_indices = [
                "../../data/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi",
                "../../data/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
            ]
            target_interval_list = "../../data/whole_exome_illumina_coding_v1.Homo_sapiens_assembly38.targets.interval_list"
            contamination_sites_bed = "../../data/Homo_sapiens_assembly38.contam.bed"
            contamination_sites_mu = "../../data/Homo_sapiens_assembly38.contam.mu"
            contamination_sites_ud = "../../data/Homo_sapiens_assembly38.contam.UD"
            haplotype_database = "../../data/Homo_sapiens_assembly38.haplotype_database.txt"
            fingerprint_genotypes = "../../data/NA12878.hg38.reference.fingerprint.vcf"
            fingerprint_genotypes_index = "../../data/NA12878.hg38.reference.fingerprint.vcf.idx"
            calling_interval_list = "../../data/exome_calling_regions.v1.interval_list"
            evaluation_interval_list = "../../data/exome_evaluation_regions.v1.interval_list"
        }
    }
}